<div class="back">
<nav class="navbar navbar-expand pdb">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">
        <img src="../assets/images/cropped-Final-Logo-PNG-e1623762784152.png" width="100px" height="50px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse right-float" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link bg-color " href="javascript:void(0)">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-color" href="javascript:void(0)">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-color" href="javascript:void(0)">
              Contact Us
              </a>
          </li>
        </ul>
        
      </div>
      
    </div>
    <br> 
  </nav>
  <form class="search">
    <div class="row moto">
        <div class="col-md-2"></div>
        <div class="col-md-8 focus-class">
      Our core focus at G5iO is to continuously innovate and discover new ways for understanding the world around us through the power of data and digital media.
    </div>
    <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i></button>
        </div>
  
  <div class="col-md-4"></div>
  </div>
</form>
</div>


  