   <div class="container">
   <div>
    <h2 class="bg-color mt-3">How we do it? </h2>
    <p>By uncovering biases, challenging polarization and uncovering fake news and narratives our goal is to create safer, more open and equitable digital spaces across the world.

        By constantly challenging and reinventing ourselves, G5iO is geared towards offering unparalleled insights in an ever-changing and evolving world</p>
   </div>
   
   <div>
   <h2 class="text-center bg-color mb-3"> Latest Research</h2>
	
        <owl-carousel-o [options]="customOptions" class="mb-3">
            <ng-template carouselSlide  class="manual-styling">
              <div class="slide">
                <img src="../assets/images/g5io-sep-21-ftrd-img-300x183.png" width="200" height="200"  alt="img 1">
                <p>How the Uyghur Issue Has Been Framed Across Global Media – A Snapshot</p>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img src="../assets/images/g5io-sep-ftrd-img-300x153.png" width="200" height="200" alt="img 2">
            <p>Is International Media Switching off on Afghanistan? An Analysis of Print & Digital Media</p>  
            </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img src="../assets/images/oct-21-us-pak-300x176.jpg" width="200" height="200" alt="img 3">
            <p>Incidental and Divergent Media Attention on Afghanistan: A Comparative Analysis of US, Pakistani, and Indian Newspapers</p>  
            </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img src="../assets/images/panjshir-ftrd-img-300x165.jpg" width="200" height="200" alt="img 4">
                <p>Panjshir Files: Fake News & Bias in Indian Media Coverage of Afghanistan</p>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img src="../assets/images/taug-afg-study-fi-300x189.png" width="200" height="200" alt="img 5">
                <p>Talking Afghanistan: Discourse Analysis of Pakistan and US Based Experts on Afghan War</p>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img src="../assets/images/Screenshot-2021-08-23-at-2.25.13-PM-1-300x215 (1).png" width="200" height="200" alt="img 6">
            <p>An analysis of Twitter discourse during Tokyo Olympics 2020</p>  
            </div>
            </ng-template>
          </owl-carousel-o>
	
        </div>
    </div>