.back-class{
background: linear-gradient(
45deg, black, transparent);
}
.manual-styling {
    color: aliceblue;
    font-size: 13px;
    margin: 5px;
    padding: 4px 7px;
    background: black;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}